---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Fogpath",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Hi, I’m Ethan3. Welcome to my blog. On Fogpath, proceed with caution on uncertain ground.
		</p>
	</div>

</PageLayout>
