---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks = [
	{
		friendlyName: "Github",
		link: "https://github.com/dethan3/blog",
		name: "mdi:github",
	},
	{
		friendlyName: "X",
		link: "https://x.com/0x99Ethan3",
		name: "mdi:twitter",
	},
	// {
	// 	friendlyName: "LinkedIn",
	// 	link: "https://www.linkedin.com/in/dethan3",
	// 	name: "mdi:linkedin",
	// },
	// {
	// 	friendlyName: "YouTube",
	// 	link: "https://www.youtube.com/channel/dethan3",
	// 	name: "mdi:youtube",
	// },
];
---

<div class="flex flex-wrap items-end gap-x-2">
	{socialLinks.map((link) => (
		<a
			class="inline-block hover:text-link drop-shadow-[0px_2.5px_2.5px_rgba(0,0,0,0.175)]"
			href={link.link}
			rel="noreferrer"
			target="_blank"
		>
			<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={link.name} />
			<span class="sr-only">{link.friendlyName}</span>
		</a>
	))}
</div>

